# Android Studio & IntelliJ
.idea/
*.iml
*.iws

.vs/

# Archivos de configuración local
local.properties

# Gradle
/gradle/daemon/
.gradle/
build/
gradle/wrapper/dists/
gradle/caches
gradle/daemon

# Archivos generados por compilación
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear

# Carpeta libs con librerías locales
libs/

# Archivos de pruebas generados
test-output/
captures/

# Build nativo
.externalNativeBuild/
.cxx/

# Logs y errores
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Librerías locales
libs/

# Librerías locales del módulo app
/app/libs/

# Otros temporales
*.tmp
*.swp
*.swo
